@media screen and (max-width: 739px) {
  header {
    width: 250px;
    margin: 0 auto; }
    header ul {
      padding: 0;
      width: 220px;
      margin: 20px auto 0; }
      header ul li {
        margin-right: auto; }
      header ul li:last-child {
        margin-right: 0; }
    header a {
      font-size: 10px; }
  main .me p {
    margin-bottom: 10px !important; }
  main .me img {
    width: 150px;
    height: 150px; }
  main .profile {
    font-size: 5px;
    width: 350px !important;
    display: flex; }
    main .profile .Box1 li {
      width: 92px; }
    main .profile .Box2 li {
      width: 165px; }
  main .img1 {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(90deg, #fff 0%, #fff 20%, #ffdbed 20%, #ffdbed 80%, #fff 80%, #fff 100%);
  font-family: 'Kanit', sans-serif; }
  body header ul {
    display: flex;
    justify-content: flex-end; }
    body header ul li {
      margin-right: 25px;
      list-style: none;
      font-size: 18px; }
      body header ul li a {
        text-decoration: none;
        color: #696969;
        font-weight: bold; }
      body header ul li a:hover {
        color: #444; }
      body header ul li .about {
        color: #444;
        border-bottom: 2px solid #444; }
  body main p {
    text-align: center;
    margin: 50px auto 40px; }
    body main p img {
      border-radius: 50%; }
  body main .profile {
    display: flex;
    width: 650px;
    margin: 0 auto; }
    body main .profile li {
      list-style: circle; }
  body main .img1 {
    position: absolute;
    bottom: 0;
    left: 30px; }
