@media screen and (max-width: 749px) {

}
img{
  width: 500px;
  height: 500px;
}
.items{
  float: left;
  list-style: none;
  height: 500px;
  overflow: hidden;
  position: relative;
  top: 10px;
  display: flex;
  margin-left: -80px;
}
