@media screen and (max-width: 739px) {
  body header {
    width: 165px;
    margin: 0 auto; }
    body header ul {
      padding: 0;
      width: 220px;
      margin: 20px auto 0; }
      body header ul li {
        margin-right: 25px; }
      body header ul li:last-child {
        margin-right: 0; }
    body header a {
      font-size: 15px; }
  body img {
    width: 50px;
    height: 100px; }
  body .works {
    margin-top: 50px !important;
    width: 400px; }
    body .works .box {
      width: 400px; }
      body .works .box li {
        font-size: 13px !important;
        width: 150px; }
        body .works .box li p {
          font-size: 10px !important;
          width: 150px; }
      body .works .box .slideshow {
        width: 70px;
        height: 50px; } }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(90deg, #fff 0%, #fff 20%, #d6ffd6 20%, #d6ffd6 80%, #fff 80%, #fff 100%);
  font-family: 'Kanit', sans-serif; }
  body ul {
    display: flex;
    justify-content: flex-end; }
    body ul li {
      margin-right: 25px;
      list-style: none;
      font-size: 18px; }
      body ul li a {
        text-decoration: none;
        color: #696969;
        font-weight: bold; }
      body ul li a:hover {
        color: #444; }
      body ul li .works {
        color: #444;
        border-bottom: 2px solid #444; }
  body .works {
    margin-top: 80px; }
    body .works h3 {
      color: #696969;
      margin: 3px auto; }
    body .works p {
      width: 400px;
      font-size: 15px;
      margin: 3px auto; }
    body .works img {
      margin-right: 5px; }
    body .works ul {
      display: flex;
      justify-content: center;
      padding: 0; }
    body .works a:hover {
      color: #444; }
    body .works .box {
      margin-bottom: 50px; }
      body .works .box .site {
        margin-right: 0; }
