@media screen and (max-width: 739px) {
  header{
    width: 250px;
    margin: 0 auto;
    ul{
      padding: 0;
      width: 220px;
      margin: 20px auto 0;
      li{
        margin-right: auto;
      }
      li:last-child{
        margin-right: 0;
      }
    }
    a{
      font-size: 10px;
    }
  }
  main{
    .me{
      p{
        margin-bottom: 10px!important;
      }
      img{
        width: 150px;
        height: 150px;
      }
    }
    .profile{
      font-size: 5px;
      width: 350px!important;
      display: flex;
      .Box1{
        li{
          width: 92px;
        }
      }
      .Box2{
        li{
          width: 165px;
        }
      }
    }
    .img1{
      display: none;
    }
  }
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(90deg,#fff 0%,#fff 20%,#ffdbed 20%,#ffdbed 80%,#fff 80%,#fff 100%);
  font-family:'Kanit', sans-serif;
  header{
    ul{
      display: flex;
      justify-content: flex-end;
      li{
        margin-right: 25px;
        list-style: none;
        font-size: 18px;
        a{
          text-decoration: none;
          color: #696969;
          font-weight: bold;
        }a:hover{
          color: #444;
        }
        .about{
          color: #444;
          border-bottom: 2px solid #444;
        }
      }
    }
  }

  main{
    p{
      text-align: center;
      margin: 50px auto 40px;
      img{
        border-radius: 50%;
      }
    }

    .profile{
      display: flex;
      width: 650px;
      margin: 0 auto;
      li{
        list-style: circle;
      }
     }
     .img1{
       position: absolute;
       bottom: 0;
       left: 30px;
     }
    }
  }
