@media screen and (max-width: 739px) {
  header{
    width: 250px;
    margin: 0 auto;
    ul{
      padding: 0;
      width: 220px;
      margin: 20px auto 0;
      li{
        margin-right: auto;
      }
      li:last-child{
        margin-right: 0;
      }
    }
    a{
      font-size: 10px;
    }
  }
  .boxes{
    flex-direction: column;
    margin: 50px auto 0!important;
    width: 330px!important;
    img{
      width: 60px;
      height: 60px;
    }
    .box12{
      margin-bottom: 20px;
      .box1{
        width: 150px!important;
        height: 150px!important;
        position: relative;
        margin-right: 30px;
        .img1{
          width: 150px!important;
          height: 150px!important;
          border-radius: 50%;
          border: solid 3px #fffafa;
      }.twitter{
      position: absolute!important;
      top: 50px!important;
      left: 50px!important;
    }
  }
  .box2{
    width: 150px!important;
    height: 150px!important;
    position: relative;
    margin-right: 30px;
    .img2{
      width: 150px!important;
      height: 150px!important;
      border-radius: 50%;
      border: solid 3px #fffafa;
    }.mail{
      position: absolute!important;
      top: 50px!important;
      left: 50px!important;
    }
  }
    }
.box3{
  width: 150px!important;
  height: 150px!important;
  position: relative;
  margin-right: 30px;
  .img3{
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    border: solid 3px #fffafa;
  }.phone{
    position: absolute!important;
    top: 50px!important;
    left: 50px!important;
  }
}
.box4{
  width: 150px!important;
  height: 150px!important;
  position: relative;
  .img4{
    width: 150px!important;
    height: 150px!important;
    border-radius: 50%;
    border: solid 3px #fffafa;
  }.facebook{
    position: absolute!important;
    top: 50px!important;
    left: 50px!important;
    }
  }
  }
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(90deg,#fff 0%,#fff 20%,#d6d6ff 20%,#d6d6ff 80%,#fff 80%,#fff 100%);
  font-family: 'Kanit', sans-serif;
  ul{
    display: flex;
    justify-content: flex-end;
    li{
      margin-right: 25px;
      list-style: none;
      font-size: 18px;
      a{
        text-decoration: none;
        color: #696969;
        font-weight: bold;
      }a:hover{
        color: #444;
      }
      .contact{
        color: #444;
        border-bottom: 2px solid #444;
      }
    }
  }
  main{
    .boxes{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 200px;
      .box12{
        display: flex;
        .box1{
          width: 300px;
          height: 300px;
          position: relative;
          margin-right: 30px;
          .img1{
            border-radius: 50%;
            border: solid 3px #fffafa;
        }.twitter{
        position: absolute;
        top: 105px;
        left: 105px;
      }
    }
      .box2{
        width: 300px;
        height: 300px;
        position: relative;
        margin-right: 30px;
        .img2{
          border-radius: 50%;
          border: solid 3px #fffafa;
        }.mail{
          position: absolute;
          top: 105px;
          left: 105px;
        }
      }
    }
    .box34{
      display: flex;
      .box3{
        width: 300px;
        height: 300px;
        position: relative;
        margin-right: 30px;
        .img3{
          border-radius: 50%;
          border: solid 3px #fffafa;
        }.phone{
          position: absolute;
          top: 105px;
          left: 102px;
        }
      }
      .box4{
        width: 300px;
        height: 300px;
        position: relative;
        .img4{
          border-radius: 50%;
          border: solid 3px #fffafa;
        }.facebook{
          position: absolute;
          top: 105px;
          left: 108px;
          }
        }
    }
    }
  }
}
