@media screen and (max-width: 739px) {
  body{
    h1{
      font-size: 30px!important;
    }
    .menu{
      width: 250px!important;
      margin: 0 auto;
      ul{
        width: 250px!important;
        margin: 30px auto!important;
        li{
          margin:7px!important;
          a{
            font-size: 15px!important;
          }
        }
      }
    }
    .photo{
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(90deg, #fff 0%,#fff 20%, #ffffbc 20%,#ffffbc 80%,#fff 80%,#fff 100%);
  font-family: 'Kanit', sans-serif;
  h1{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }
  .menu{
    height: 60px;
    ul{
      width: 30%;
      display: flex;
      padding: 0;
      margin: 60px auto;
      li{
        list-style: none;
        margin: 0 auto;
        }
        a{
          text-decoration: none;
          color: #696969;
          font-weight: bold;
          font-size: 20px;
          height: 30px;
        }a:hover{
          color: #444;
         }
        }
        .home{
          color: #444;
          border-bottom: 2px solid #444;
        }
      }
      img{
        width: 300px;
        height: 300px;
      }
      .photo{
        list-style: none;
        float: left;
        height: 300px;
        overflow: hidden;
        position: relative;
        top: 50px;
        display: flex;
        margin-left: -70px;
      }
    }
